<h2>All Languages (<%= link_to 'Add New', new_programming_language_path %>)</h3>
<div id="right_inset_box">
  <h3>What Function is a Programmer's Thesaurus</h3><p>This is a <strong>wiki-style</strong> website where you can enter and find information about <strong>equivalent functions or methods between different programming languages</strong> that we call <strong>synonyms</strong>. So if you are working in an unfamiliar programming language but you know another language pretty well, look up the and methods you do know and find synonyms in the language you are working in.  If you'd like to help out, just cruise around the site to your favorite programming languages and help us fill in any information we are missing</p>
</div>
<div id="main_inner_left">
  <ul>
  <% for programming_language in @programming_languages %>
      <li><%= link_to programming_language.name, programming_language %></li>
  <% end %>
  </ul>

  <p><%= link_to '+ Add A New Programming Language +', new_programming_language_path %></p>
</div>

