<h3>Programming Languages</h3>

<ul>
<% for programming_language in @programming_languages %>
    <li><%= link_to programming_language.name, programming_language %></li>
<% end %>
</ul>

<br />

<%= link_to 'New Programming Language', new_programming_language_path %>
