<h2><%= link_to 'All Programming Languages', programming_languages_path %>: <%=h @programming_language.name %></h2>


<h3>Functions (<%= link_to 'Add New', new_what_function_path %>)</h3>


<% unless function_list.blank? %>
  <p><%= function_list %></p>
<% else %>
  <p><em>No functions found, why don't you add one?</em></p>
<% end %>
