<h2>Language: <%=h @programming_language.name %></h2>

<h3>Functions</h3>
<% unless function_list.blank? %>
  <p><%= function_list %></p>
<% else %>
  <p><em>No functions found, why don't you add one?</em></p>
<% end %>

<%= link_to 'Back to All Programming Languages', programming_languages_path %>
