<h1>Functions for <%=h @programming_language.name %></h1>

<ul>

<% for what_function in @what_functions %>
    <li><%= link_to what_function.name, programming_language_what_function_path(@programming_language, what_function) %></li>
<% end %>
</ul>

<br />

<%= link_to "New #{@programming_language.name} Function", new_programming_language_what_function_path(@programming_language) %>
