<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>WhatFunction.com - A Programmer's Thesaurus</title>
  <%= stylesheet_link_tag "main" %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1>What Function</h1>
      <h2>A Programmer's Thesaurus</h1>
    </div>
    <div id="main">
      <div id="main_inner">
        <% if flash[:notice] %>
          <p class="flash_notice" style="color: green"><%= flash[:notice] %></p>
        <% end %>
        <%= yield  :layout %>
        <div class="clear_both">&nbsp;</div>
      </div>
    </div>
    <div id="footer">
      <p>github: <a href="http://github.com/imightbeinatree">imightbeinatree</a>, <a href="http://github.com/corey">corey</a>, <a href="http://github.com/timrosenblatt">timrosenblatt</a>, <a href="http://github.com/btbam">btbam</a><br />corporate: <a href="http://www.cloudspace.com/?whatfunction">cloudspace</a></p> 
    </div>  
  </div>
</body>
</html>